.question.response-form
  = link_to 'edit questions', dashboard_group_path(@group), class: 'pull-right configure'
  .clearfix
  %h3= @group.name
  %p.text-left= @group.description
  .clearfix
  - unless current_user
    .login-suggest.text-left
      Already have an account,
      = link_to 'try sign in', new_user_session_path, style: 'color: blue'
  = render partial: 'form'