= simple_form_for([:b2b, @product], html: {remote: true}) do |f|
  .clearfix
  = f.input :name
  = f.input :price
  = f.input :img
  = f.submit
  = button_tag 'cancel', class: '.cancel-product-form'
  .clearfix