= simple_form_for([:b2b, @product], html: {remote: true}) do |f|
  .clearfix
  = f.input :name
  = f.input :price
  = f.input :img
  = f.hidden_field :product_tag_id, :value => params[:parent_id]
  = f.submit
  = f.button :button, 'Cancel', type: :reset, class: 'cancel-product-form btn btn-none cancel-form'
.clearfix