= simple_form_for(@phone, html: {remote: true, class: 'new-phone-form'}) do |f|
  = f.input :name
  = f.input :number
  = f.hidden_field :post_id, value: params[:post_id]
  = f.submit 'add phone'
  = link_to 'cancel', '#', class: 'cancel-form'