.users
  - @users.each do |u|
    .user
      .user-name.pull-left
        = "#{u.name}"
        = link_to u.email, "tel:#{u.email}"
      .site.pull-left
        - if u.owned_groups.count > 0
          - first = u.owned_groups.first.created_at.to_i
          - now = Time.now.to_i
          - duration = (now - first)/2592000
          = "websites created #{duration} months ago"
        - else
          has no websites
      .business-card.pull-left
        - if u.posts.count > 0
          = link_to u.posts.first.title, "/#{u.posts.first.id}"
        - else
          = 'regular user'
      .clearfix

  = will_paginate(@users, renderer: WillPaginate::ActionView::BootstrapLinkRenderer)