= simple_form_for @group, remote: true do |f|
  = f.input :name
  = f.input :description
  = f.input :visible, label: 'visible to public'
  = f.input :allow_immediate_access, label: 'allow immediate access'
  .clearfix
  = f.submit 'Submit', class: 'btn-primary pull-left'
  = link_to 'cancel', '#', class: 'cancel-form btn-primary pull-left', remote: true
  .clearfix