= simple_form_for @group, remote: true do |f|
  = f.input :name
  = f.input :description
  .clearfix
  = f.submit 'Submit', class: 'btn-primary'
  .clearfix
  = link_to 'cancel', '#', class: 'cancel-form', remote: true