.admin-group.admin-item
  = link_to group_path(group) do
    %h3.clickable
      = group.display_name
  %p.black
    = group.description
  - if actions
    .question-actions
      .pull-left
        = link_to 'Edit', edit_group_path(group), remote: true, class: 'edit-question'
      .pull-left
        = link_to 'delete', group_path(group), method: 'delete', remote: true, class: 'delete-question'
      .pull-left
        = link_to 'users', group_users_path(group), class: 'dashboard'
      .pull-left
        = link_to 'signup questions and answers', dashboard_group_path(group), class: 'dashboard'
      
      .clearfix
  - if !current_user.is_a_member_of(group) && group.user != current_user
    = link_to 'join', new_group_group_response_path(group)
  .question-edit-form-container

  = link_to 'get embed code', '#', remote: true, class: 'get-embed-code'
  .embed-code.d-none
    = "<div class='project-container' data-id='#{group.id}'></div>"