- @responses.each do |r|
  .question
    = render partial: 'users/user_details', locals: {user: r.user}
    .clearfix
    .answers
      .answer
        .question-text.pull-left.col-lg-12.col-sm-12.col-xs-12.cpl-12
          phone no
        .clearfix
        .answer-text.question.col-lg-12.col-sm-12.col-xs-12.col-12
          = r.user.email
        .clearfix 
      - r.answers.joins(:question).each do |a|
        .answer
          - if a.question.answer_type == 'line'
            .question-text.pull-left.col-lg-12.col-sm-12.col-xs-12.cpl-12
              = a.question.text
            .clearfix
            .answer-text.question.col-lg-12.col-sm-12.col-xs-12.col-12
              - if a.line.present?
                = a.line
              - else
                = 'User has skipped this question'
            .clearfix
          - if a.question.answer_type == 'file'
            .question-text.pull-left.col-lg-12.col-sm-12.col-xs-12.cpl-12
              = a.question.text
            .clearfix
            .answer-text.question.col-lg-12.col-sm-12.col-xs-12.col-12
              - if a.file.attachment.present?
                = link_to 'uploaded file', a.file.attachment.service_url
              - else
                = 'User has skipped this question'
            .clearfix
          - elsif a.question.answer_type == 'text'
            .question-text.pull-left.col-lg-12.col-sm-12.col-xs-12.col-12
              = a.question.text
            .clearfix
            .answer-text.question.col-lg-12.col-sm-12.col-xs-12.col-12
              - if a.text.present?
                = a.text
              - else
                = 'User has skipped this question'
            .clearfix
          - elsif a.question.answer_type == 'radio'
            .question-text.pull-left.col-lg-12.col-sm-12.col-xs-12.col-12
              = a.question.text
            .clearfix
            .answer-text.question.col-lg-12.col-sm-12.col-xs-12.col-12
              .clearfix
              - if a.choices.present?
                = a.choices.first.option.name
              - else
                = 'User has skipped this question'
            .clearfix
          - elsif a.question.answer_type == 'checkbox'
            .question-text.pull-left.col-lg-12.col-sm-12.col-xs-12.cpl-12
              = a.question.text
            .clearfix
            - if a.choices.present?
              - a.choices.each do |choice|
                .answer-text.question.col-lg-12.col-sm-12.col-xs-12.col-12
                  = choice.option.name
              .clearfix
            - else
              .answer-text.question.col-lg-12.col-sm-12.col-xs-12.col-12
                = 'User has skipped this question'
            .clearfix

    .answer-action
      - unless @group.allow_immediate_access || true
        - if r.state == 'accepted'
          = render partial: 'groups/responses/accept', locals: {user: r.user}
        - else
          = link_to 'Accept', accept_group_group_response_path(@group, r), remote: true, class: 'accept-response', method: 'put'
- if @responses.next_page
  .more-responses
    = link_to 'View more', responses_group_path(@group, state: state, page: params[:page].present? ? params[:page].to_i + 1 : 2), remote: true, class: 'view-more'