.my-space.col-lg-4.col-sm-6.col-xs-12.pull-left
  %h3
    Signup form Questions

  - if @questions.count == 0
    .question.help-text
      %p
        You haven't created any questions. add a signup form to collect client details.
  .questions-container.reorderable-group-questions{data:{url: reorder_group_questions_path(@group)}} 
    - @questions.each do |question|
      = render partial: 'groups/questions/question', locals: {question: question}
  
      
  .new-question
  .questions-actions
    = link_to 'Add question', new_group_question_path(@group), class: 'add-question', remote: true
    = link_to 'Preview', new_group_group_response_path(@group)

  %h3.black= "Rearrange pages"
  .reorderable-group-post{data:{url: reorder_group_posts_path(@group)}}
    - @group.posts.order('sequence ASC').each do |post|
      = render partial: 'groups/posts/tiny_post', locals: {post: post}

.my-space.my-responses.col-lg-8.col-sm-6.col-xs-12.pull-left
  %h3
    Responses
  .response-filters
    = link_to 'view responses', responses_group_path(state: 'accepted'), class: 'filter-response-link', remote: true
  .responses-container
    = render partial: 'responses', locals: {state: 'new'}

