.my-space.col-lg-4.col-sm-6.col-12.pull-left
  .responses-container.questions-container
    - if @groups.length == 0
      .question.help-text
        %p.black
          You dont have any sites. create one and pin it to your page!
    %h3.black= "My sites"
    - @groups.each do |group|
      = render partial: 'group', locals: {group: group, actions: true}
    - current_user.joined_groups.each do |group|
      = render partial: 'group', locals: {group: group, actions: false}
  .new-question
  .questions-actions
    = link_to "New site", new_group_path, class: 'add-question', remote: true

  - if false
    %h3.black= "Other sites"
    - @other_groups.each do |group|
      = render partial: 'group', locals: {group: group, actions: false}
  
.my-space.col-lg-8.col-sm-6.col-12.pull-left
  %h3.black
    = "Find sites"
  .search
    = text_field_tag 'search', nil, placeholder: 'search', data: {url: search_groups_path(page: 1)}
  .clearfix
  .admin-items-result
