.my-space.connections.col-lg-4.col-sm-4.col-xs-12.pull-left
  %h3
    My connections
  .connections.responses-container
    - @connections.each do |u|
      = link_to user_path(u), class: 'select-connection', remote: true do
        .question{id: u.id}
          .pull-left.full-width.user-details
            = image_tag u.image.url(:thumb)
            = u.name
            .unseen-count.pull-right{class: @unseen_counts[u.id].to_i > 0 ? '' : 'd-none'}
              = @unseen_counts[u.id].to_i
          .clearfix
.chats.col-lg-8.col-sm-8.col-xs-12.pull-left
  - if @user
    = render partial: 'chats'