%h2 Forgot your password? Enter your Email or Phone number
= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
  = f.error_notification
  .form-inputs
    = f.input :email,                                      |
      required: true,                                      |
      autofocus: true,                                     |
      label: 'Email or Phone no.',                         |
      input_html: { autocomplete: "email", class: 'login-field'} |
  .form-actions
    = f.button :submit, "submit", class: 'reset-email-pass'
    = link_to 'submit', sms_password_users_path, method: :put, class: 'reset-phone-pass reset-phone-pass-submit d-none'
    