= simple_form_for([@group, @response], html:{remote: true, class: 'project-form survey_response_form'}) do |f|
  = f.fields_for :answers do |af|
    .question
      .survey-question-text
        = af.object.question.text
      .clearfix
      - if af.object.question.answer_type == 'line'
        = af.input :line, label: false
      - elsif af.object.question.answer_type == 'text'
        = af.input :text, label: false
      - elsif af.object.question.answer_type == 'radio'
        = af.fields_for :choices do |afc|
          = afc.radio_button :option_id, afc.object.option.id, checked: false, class: 'survey-radio pull-left'
          = af.label afc.object.option.name, class: 'survey-label pull-left col-lg-11 col-md-10 col-xs-11 col-10'
          .clearfix
      - elsif af.object.question.answer_type == 'checkbox'
        = af.fields_for :choices do |afc|
          = afc.check_box :option_id, {checked: false, class: 'pull-left'}, afc.object.option.id, nil
          = af.label afc.object.option.name, class: 'survey-label pull-left col-lg-11 col-md-10 col-xs-11 col-10'
          .clearfix
      = af.hidden_field :question_id, value: af.object.question.id
    .clearfix
  = f.submit 'Submit', class: 'btn-primary'
  .clearfix
.ack
