.post
  .whitespace
  .whitespace
  %h1.black.text-center
    How to build your small website to collect user feedback
  .whitespace
  .whitespace
  .whitespace
  %p.black
    If you need to build a web site with your own signup form, you can create a welcome page by clicking <a href="/">new page</a>, that suggest incoming user to signup, filling the data you wanted like address, gender etc. there will be mandatory questions seeking phone number and name along with a password on your signup form. To do this go to the page and click "pin a site" which will lead you to create a site with an optional name and description. now you have to click manage and this page allow you to create signup form questions.
    Now its time to go to your page and click pin a site which allow you to place your signup form associated to the site.now click on my site on naveigation bar and select the new site you have created. this will lead you to your actual site space where you can pin surveys quickpolls or even another signup form for a new site.

  .whitespace
  .whitespace
  .whitespace
  %h2.black.text-center
    Lets go step by step

  %p.black
    Create a new page to start. The title should be your website's name
    .clearfix
    = image_tag(image_url('create_new_welcome_page.png'), width: '100%')
    .clearfix
  %p.black
    Lets add a signup form to the page we have created.
    .clearfix
    = image_tag(image_url('pin_a_sign_up_page.png'), width: '300px')
    .clearfix
  %p.black
    Since We have not created any site with signup form we will reach to site creation page.
    .clearfix
    = image_tag(image_url('create_a_site.png'), width: '100%')
    .clearfix
  %p.black
    Create a site with sign up form title and description (both are optional)
    .clearfix
    = image_tag(image_url('now_we_have_a_site_with_sign_up_form'), width: '100%')
    .clearfix
  %p.black
    Go to dashboard and start adding signup form questions.
    .clearfix
    = image_tag(image_url('add_signup_form_questions'), width: '100%')
    .clearfix
  %p.black
    Lets add a question for asking address.
    .clearfix
    = image_tag(image_url('address_question'), width: '100%')
    .clearfix
  %p.black
    Now lets click Preview and see how it look.
    .clearfix
    = image_tag(image_url('the sign_up_form_will_look_like_this'), width: '100%')
    .clearfix
  %p.black
    Go back to our page and pin the signup form there
    .clearfix
    = image_tag(image_url('go_back_to_welcome_page_and_pin_sign_up_form_there'), width: '300px')
    .clearfix
  %p.black
    For a new user, signup form will look like following with mandatory questions name, phone and password for the platform.
    .clearfix
    = image_tag(image_url('final_signup_form_will_be_this'), width: '100%')
    .clearfix
  .whitespace
  .whitespace
    %h3.black
      Now start preparing our web page
  .whitespace
  %p.black
    Let us create an online back bone for a grocery shop. So we need a survey asking what the user need.
    .clearfix
    = image_tag(image_url('create_a_page_on_our_site'), width: '100%')
    .clearfix
    .whitespace
  %p.black
    Go to survey tab and create a new survey.
    .clearfix
    = image_tag(image_url('create_a_survey'), width: '100%')
    .clearfix
  %p.black
    After creating survey, go to dashboard. Create few single line questions.
    .clearfix
    = image_tag(image_url('ask_what_the_user_want'), width: '100%')
    .clearfix
  %p.black
    You can check the preview on the dashboard.
    .clearfix
    = image_tag(image_url('the_survey_will_look_like_this'), width: '100%')
    .clearfix
  %p.black
    Now go to one of the pages you have created and pin the new survey.
    .clearfix
    = image_tag(image_url('the_site_will_look_like_this'), width: '100%')
    .clearfix
  %p.black
    You can see survey responses at the dashboard.
    .clearfix
    = image_tag(image_url('we_can_see_response_to_surveys_at_dasdboard'), width: '100%')
    .clearfix
  %p.black
    Or on an independent page with all signup form responses
    .clearfix
    = image_tag(image_url('we_will_see_survey_response_along_with_sign_up_form_response'), width: '100%')
    .clearfix
