= stylesheet_link_tag('site_home_page.css')
= stylesheet_link_tag('post_styles.css')

.header-image{style: "background-image: url('#{asset_url('bg1.jpg')}')"}
  .header-overlay
    .header-text-container
      .header-text.col-lg-4.col-md-6.col-sm-6.col-xs-8.col-12
        PALKAD.COM
      .header-description.col-lg-4.col-md-6.col-sm-6.col-xs-8.col-12
        Get your Bussiness online
.post
  .post-body
    .post-text  
      .whitespace
      .whitespace
      %h1.black.text-center
        Build a website or blog online with feedback tools.
      .whitespace
      .whitespace
      .whitespace
      %p
        A small shop or agency need an online front to collect client orders or feedbacks. Here is where we hit. Anyone can create a welcome page and pin a site with custom signup form to it. on signup, a collection of pages with feedback tools pinned to it can be made available to the client. The one who create the site will be notified and the order or query can be satisfied. 
      .whitespace
      .whitespace
      %h3
        We have
        .whitespace
        .whitespace
      %h3  
        ★ Static Pages

      %h3  
        ★ Sites

      %h3  
        ★ Signup Forms

      %h3  
        ★ Surveys

      %h3  
        ★ Quick Polls

      %h3  
        ★ Forum Topics
      .whitespace
      .whitespace
        %p
          How to use them is your choice, but we are here for help. just pig us
          = link_to 'here', 'https://www.palkad.com/16'
          Which is a site made in palkad.com
      .whitespace
      .whitespace
      .whitespace
        = link_to 'example'  do
          %h3= 'How To Use'