.galery
  %h2.text-center= galery.name
  - unless params[:preview]
    .upload-picture
      = simple_form_for(Picture.new, html: {class: 'add-picture', remote: true}) do |f|
        = f.input :img, label: false, class: 'inline-input'
        = f.submit 'upload image', class: 'inline-input'
        = f.hidden_field :galery_id, value: galery.id
      .clearfix
  .pictures.container
    - galery.pictures.each do |picture|
      = render partial: 'pictures/picture', locals: {picture: picture}
