= simple_form_for(@galery, html: {remote: true, class: 'galery-form'}) do |f|
  = f.input :name
  = f.submit
  = f.hidden_field :post_id, value: params[:post_id]
  = link_to 'cancel', '#', class: 'cancel-form'
  .clearfix