.group-post.post
  .post-actions
    - unless params[:preview]
      - if post.user == current_user || (current_user.try :admin?)
        = link_to 'delete', group_post_path(@group, post), remote: true, method: :delete, class: 'delete-post pull-right delete-question'
        = link_to 'edit', edit_group_post_path(@group, post), remote: true, class: 'edit-post-link'
      - if (current_user.try :admin?)
        - if post.featured?
          = render partial: 'groups/posts/unpin', locals: {post: post}
        - else
          = render partial: 'groups/posts/pin', locals: {post: post}
  .clearfix
  .clearfix
  .edit-container
  .post-title
    %h1.black= post.title
  .clearfix
  .post-body
    .post-text
      = raw(post.text)
    - unless params[:preview]
      = render partial: 'groups/selection', locals: {post: post}
    .project-container{data: {id: post.project_id}}
    - unless params[:preview]
      = render partial: 'surveys/selection', locals: {post: post}
    .survey-container{data: {id: post.survey_id}}
    - unless params[:preview]
      = render partial: 'quick_polls/selection', locals: {post: post}
    .quick-poll-container{data: {id: post.quick_poll_id}}
    
  -if post.enable_comment_vote?
    = render partial: 'groups/posts/comment_actions', locals: {post: post}
    .clearfix
    .new-comment
    .comments-container{class: params[:comment_id].present? ? '' : 'd-none'}
      .comments
        - if params[:comment_id]
          - comment = post.comments.find(params[:comment_id])
        - if comment
          = render partial: 'posts/comments/comment', locals: {expand: true, new: false, comment: comment.parent || comment}
    

