= simple_form_for([@group, @post], remote: true, html: { class: 'post-form' }) do |f|
  = f.input :title
  = f.input :text
  = link_to 'Add image', '#', remote: true, class: 'open-image-upload'
  .image-upload
    = f.input :image, label: 'Upload image'
  .clearfix
  = f.submit :post, class: 'btn-primary'
  = link_to 'cancel', '#', class: 'cancel-form', remote: true
