.affiliation
  .affiliation-item.name.pull-left
    = "https://faqfacebook.com/" + affiliation.name
  .affiliation-item.url.pull-left
    = affiliation.url
  .affiliation-item.edit.pull-left
    = link_to 'edit', '#', remote: true, onclick: '$(this).closest(".affiliation").find("form").removeClass("d-none")'
  .affiliation-item.delete.pull-left
    = link_to 'delete', affiliation_path(affiliation), method: :delete, remote: true, onclick: '$(this).closest(".affiliation").remove()'
  .clearfix
  = simple_form_for(affiliation, html: {remote: true, class: 'update-affiliation-form d-none'}) do |f|
    = f.input :name
    = f.input :url
    = f.submit "Update"
