- if current_user.try(:admin?) || product_tags.length > 0
  .product-tags
    - product_tags.each do |product_tag|
      = render partial: 'product_tag', locals: {product_tag: product_tag, parent: product_tag.parent}
    - if current_user.try(:admin?)
      = text_field_tag 'tag', nil, class: 'add-tag tag', data: {parant_id: params[:parent_id]}
    .clearfix
.products
  - if @parent.present?
    - @products.each do |product|
      = render partial: 'b2b/products/product', locals: {product: product}
    .clearfix
    = will_paginate(@products, parent_id: params[:pareent_id], :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer)
- if current_user.try(:admin?) && params[:parent_id].present?
  .clearfix
  = link_to '+ add product', new_b2b_product_path(parent_id: params[:parent_id]), class: 'new-product-link', remote: true
  .new-product-form
