.question.response-form
  %h2 Already have an account? sign in
  = simple_form_for(User.new, url: signin_users_path) do |f|
    .form-inputs
      .question
        = f.input :email,
          label: 'email or phone no.',                     
          required: false,                     
          autofocus: true,                     
          input_html: { class: 'login-field' }
      .question
        = f.input :password,                              
          required: false,                                
          input_html: { autocomplete: "current-password" }
      = f.input :remember_me, as: :boolean
    .form-actions
      = f.button :submit, "Log in"
    .clearfix
    = link_to 'new user join here', new_user_registration_path
    .clearfix
    = link_to 'forgot password', new_user_password_path, class: 'reset-email-pass'
    .clearfix
    = link_to 'forgot password', sms_password_users_path, class: 'reset-phone-pass d-none', method: :put