- @responses.each do |r|
  .answers-container
    = link_to r.user.name, survey_survey_response_path(@survey, r)
    .pull-right= r.created_at.in_time_zone('Mumbai').strftime("%Y %B %d - %I:%M %P")
    .clearfix
    .answers
      .answer.highlight
        .question-text.pull-left.col-lg-12.col-sm-12.col-xs-12.cpl-12
          phone no
        .clearfix
        .answer-text.col-lg-12.col-sm-12.col-xs-12.col-12
          - if r.user.email.include?('@')
            = r.user.email
          - else
            = link_to r.user.email, "tel:#{r.user.email}"
        .clearfix 
      - r.answers.joins(:question).order('questions.sequence ASC').each do |a|
        .answer
          - if a.question.answer_type == 'line' && a.line.present?
            .question-text.pull-left.col-lg-12.col-sm-12.col-xs-12.cpl-12
              = a.question.text
            .clearfix
            .answer-text.col-lg-12.col-sm-12.col-xs-12.col-12
              - if a.line.present?
                = a.line
              - else
                = 'User has skipped this question'
            .clearfix  
          - elsif a.question.answer_type == 'number' && a.number.present?
            .question-text.pull-left.col-lg-12.col-sm-12.col-xs-12.cpl-12
              = a.question.text
            .clearfix
            .answer-text.col-lg-12.col-sm-12.col-xs-12.col-12
              - if a.number.present?
                = a.number
              - else
                = 'User has skipped this question'
            .clearfix  
          - elsif a.question.answer_type == 'text' && a.text.present?
            .question-text.pull-left.col-lg-12.col-sm-12.col-xs-12.col-12
              = a.question.text
            .clearfix
            .answer-text.col-lg-12.col-sm-12.col-xs-12.col-12
              - if a.text.present?
                = a.text
              - else
                = 'User has skipped this question'
            .clearfix
          - elsif a.question.answer_type == 'radio' && a.choices.present?
            .question-text.pull-left.col-lg-12.col-sm-12.col-xs-12.col-12
              = a.question.text
            .clearfix
            .answer-text.col-lg-12.col-sm-12.col-xs-12.col-12
              .clearfix
              - if a.choices.present?
                = a.choices.first.option.name
              - else
                = 'User has skipped this question'
            .clearfix
          - elsif a.question.answer_type == 'checkbox' && a.choices.present?
            .question-text.pull-left.col-lg-12.col-sm-12.col-xs-12.cpl-12
              = a.question.text
            .clearfix
            - if a.choices.present?
              - a.choices.each do |choice|
                .answer-text.col-lg-12.col-sm-12.col-xs-12.col-12
                  = choice.option.name
              .clearfix
            - else
              .answer-text.col-lg-12.col-sm-12.col-xs-12.col-12
                = 'User has skipped this question'
          - elsif a.question.answer_type == 'multiline' && a.choices.any?{|c| c.line.present?}
            .question-text.pull-left.col-lg-12.col-sm-12.col-xs-12.cpl-12
              = a.question.text
            .clearfix
            - if a.choices.present?
              - a.choices.each do |choice|
                - if choice.line.present?
                  .answer-text.col-lg-12.col-sm-12.col-xs-12.col-12
                    = choice.option.name
                    = " : "
                    = choice.line
              .clearfix
            - else
              .answer-text.col-lg-12.col-sm-12.col-xs-12.col-12
                = 'User has skipped this question'
    - if r.user.lat.present?
      .map-link.pull-left{data:{addr: "#{r.user.lat},#{r.user.lngt}"}}
        = image_tag('map.png', class: 'map-ico')
    - if r.state == 'accepted'
      .pull-right
        accepted
    .clearfix
- if @responses.next_page
  .more-responses
    = link_to 'View more', responses_survey_path(@survey, page: params[:page].present? ? params[:page].to_i + 1 : 2), remote: true, class: 'view-more'