- if post.user == current_user
  .pin-select.pull-right
    - if current_user.surveys.count == 0
      = link_to 'Pin Order form', surveys_path, class: 'fbt-select-nil'
    - else
      = link_to 'Pin Order form', '#', class: 'survey-select', remote: true
    .clearfix
    .survey-select-container.d-none
      = form_for [:select_survey, post], method: :put, html: {class: 'survey-select-form', remote: true} do |f|
        = f.select :survey_id, [['none', nil]] + current_user.surveys.map{|s| [s.name, s.id]}, html: {class: 'survey-select-box'}
        .clearfix
        = f.submit 'pin'
        .clearfix
    .pin-survey-ack
    .clearfix
