.question
  = link_to new_survey_survey_response_path(survey) do
    %h3.clickable= survey.display_name
  %p
    = survey.description
  - if actions
    .question-actions
      .pull-left
        = link_to 'Edit', edit_survey_path(survey), remote: true, class: 'edit-question'
      .pull-left
        = link_to 'delete', survey_path(survey), method: 'delete', remote: true, class: 'delete-question'
      .pull-left
        = link_to 'questions & answers', dashboard_survey_path(survey), class: 'dashboard'
      .clearfix
  .pull-left
    = link_to 'submit', new_survey_survey_response_path(survey), class: 'preview-submit'
  .clearfix
  .question-edit-form-container
