.my-space.col-lg-4.col-md-6.col-sm-6.col-xs-12col-12.pull-left
  %h3
    Survey Questions

  - if @questions.count == 0
    .question.help-text
      %p
        You haven't created any questions.
  .questions-container.responses-container.reorderable-survey-questions{data: {url: reorder_survey_questions_path(@survey)}} 
    - @questions.each do |question|
      = render partial: 'surveys/questions/question', locals: {question: question}
    
  


  .new-question
  .questions-actions
    = link_to 'Add question', new_survey_question_path(@survey), class: 'add-question', remote: true
    = link_to 'Preview', new_survey_survey_response_path(@survey)
  .show-options.clickable.d-none
    %h3
      Show options
  .hide-options.clickable{class: @questions.any?{|q| q.options.present?} ? '' : 'd-none'}
    %h3
      Hide options
.my-space.col-lg-8.col-md-6.col-sm-6.col-xs-12.col-12.pull-left
  %h3
    = "Responses(#{@responses.count})"
  - if @responses.count == 0
    .question.help-text
      %p
        No submissions made to the survey
  .responses-container
    = render partial: 'responses'