.my-space.col-lg-4.col-sm-6.col-xs-12.pull-left
  %h3
    Survey Questions
  - if @questions.count == 0
    .question.help-text
      %p
        You haven't created any questions.
  .questions-container.reorderable
    - @questions.each do |question|
      = render partial: 'surveys/questions/question', locals: {question: question}
  .new-question
  .questions-actions
    = link_to 'Add question', new_survey_question_path(@survey), class: 'add-question', remote: true
    = link_to 'Preview', new_survey_survey_response_path(@survey)
.my-space.col-lg-4.col-sm-6.col-xs-12.pull-left
  %h3
    Survey Responses
  - if @responses.count == 0
    .question.help-text
      %p
        No submissions made to the survey
  - @responses.each do |r|
    .question
      = render partial: 'users/user_details', locals: {user: r.user}
      .clearfix
      .answers
        - @survey.questions.each do |q|
          .answer  
            .question-text.pull-left.col-lg-5.col-sm-5.col-xs-12
              = q.text
            .answer-text.pull-right.col-lg-5.col-sm-5.col-xs-12
              = q.answer.text
            .clearfix