= simple_form_for(@picture, html: {class: (@picture.persisted? ? 'edit-picture admin-form' : 'add-picture admin-form'), remote: true}) do |f|
  = f.label 'Add Picture (optional)'
  .clearfix
  = f.input :img, label: false, class: 'inline-input'
  .clearfix
  = f.input :alt_text, label: 'Alternate text', class: 'inline-input'
  .clearfix
  = f.input :caption, label: 'caption', class: 'inline-input'
  .clearfix
  = f.submit 'Submit', class: 'picture-submit'
  = f.hidden_field :galery_id, value: @galery.id
  = link_to 'cancel', '#', class: 'cancel-form pull-left', remote: true
  .clearfix