- class_name = "col-sm-#{12/picture.galery.column}"
.picture.pull-left{class: class_name}
  - if current_user && current_user.galeries.include?(picture.galery) 
    - unless params[:preview]
      = link_to 'edit', edit_picture_path(picture, galery_id: picture.galery_id), class: 'edit-galery-picture pull-left', remote: true
      .edit-form-container
      = link_to 'delete', picture_path(picture, galery_id: picture.galery_id), remote: true, class: 'remove-picture pull-right', method: :delete
      .clearfix
  = image_tag_with_fallback(picture, :img)
  - if current_user && current_user.galeries.include?(picture.galery)  
    - unless params[:preview]
      = remove_tag_with_fallback(picture, :img)
  %p.black.text-center= picture.caption
  - unless params[:preview] || current_user != (@group || @post).user
    = render partial: 'pictures/selection', locals: {picture: picture}
  .survey-container{data: {id: picture.survey_id, anonymous: picture.survey.try(:anonymous).present?.to_s}}

  - unless params[:preview] || current_user != (@group || @post).user
    = render partial: 'pictures/select_page', locals: {picture: picture}
  .button-container
    - if picture.linked_post.present?
      = link_to picture.linked_post_name, post_path(picture.linked_post, preview: params[:preview]), class: 'link-button edit-button'
