.group-post.post
  .post-actions.pull-right
    - if post.user == current_user
      = link_to 'delete', post_path(post), remote: true, method: :delete, class: 'delete-post'
  .clearfix
  .post-title
    %h2= link_to post.title, post_path(post)
  .post-body
    = auto_link post.text, html: {target: '_blank'}
    - if post.image.present?
      = image_tag post.image.url(:original), class: 'post-image col-lg-6 col-md-8 col-12'
  .clearfix
  .pull-right= render partial: 'users/user_details', locals: {user: post.user}
  .clearfix
  = render partial: 'posts/comment_actions', locals: {post: post}
  .clearfix
  .new-comment
  .comments-container.d-none
    .comments
