.group-post.post{data: {id: post.id}}
  .post-actions.pull-right
  -if false
    .pull-left.user-avathar= render partial: 'users/user_details', locals: {user: post.user}
  .post-actions
    - unless params[:preview]
      - if current_user == post.user || current_user.try(:admin?)
        = link_to 'Change style', change_style_post_path(post), method: :put, class: 'pull-right style-buton', remote: true

        = link_to 'Delete', post_path(post), remote: true, method: :delete, class: 'delete-post pull-right delete-question',data: {confirm: "Are you sure?"}
        - unless post.group
          = link_to 'We are free', '#', class: "feature free pull-right #{post.lat.nil? ? '' : 'd-none'}"
        = link_to 'We are busy', '#', class: "feature busy pull-right #{post.lat.present? ? '' : 'd-none'}"
        = link_to 'Edit', edit_post_path(post), remote: true, class: 'edit-post-link'
      - if !params[:preiew] && admin
        = link_to 'switch as post user', switch_user_path(post.user, return: post_path(post)), class: 'switch-post-user'
    .edit-container
  .clearfix
  .post-title
    - if post.project.present?
      %h1.name= link_to post.title, group_path(post.project)
    - else
      %h1.name.black= post.title
  .clearfix 
  .post-body
    - if post.lat.present?
      .map-link{data:{addr: "#{post.lat},#{post.lngt}"}}
        = image_tag('map.png', class: 'map-ico')
    .clearfix
    .post-text
      = raw(post.text)
    

    - unless params[:preview]
      - if post.user == current_user
        = link_to 'Add phone', new_phone_path(post_id: post.id), class: 'new-phone', remote: true
        .clearfix
        .phone-form-container

    .phones-container
      - post.phones.each do |p|
        = render partial: 'phones/phone', locals: {phone: p}

    .social_links-container
    - if current_user == post.user && params[:preview].blank?
      = link_to 'Edit social links', '#', class: 'edit-social-link'
      .clearfix
    = render partial: 'posts/social_links', locals: {post: post}
    .clearfix

    .videos-container
      = render partial: 'videos/videos', locals: {post: post}
      .clearfix
    - unless params[:preview]
      - if post.user == current_user
        = link_to 'Add video', new_video_path(post_id: post.id), remote: true, class: 'add-video pull-right'
    .clearfix
    

    
    .galeries-container
      - post.galeries.order('updated_at desc').each do |g|
        = render partial: 'galeries/galery', locals: {galery: g}
    .galery-form-container
    .clearfix
    - unless params[:preview]
      - if post.user == current_user
        = link_to 'Add galery', new_galery_path(post_id: post.id), remote: true, class: 'new-galery'
        .clearfix
    .clearfix

    

    - unless params[:preview]  
      = render partial: 'groups/selection', locals: {post: post}
    - unless current_user && current_user.groups.map(&:id).include?(post.project_id)
      .project-container{data: {id: post.project_id}}
    - unless params[:preview]
      = render partial: 'surveys/selection', locals: {post: post}
    .survey-container{data: {id: post.survey_id, anonymous: post.survey.try(:anonymous).present?.to_s}}
    - unless params[:preview]
      = render partial: 'quick_polls/selection', locals: {post: post}
    .quick-poll-container{data: {id: post.quick_poll_id}}
    
    .clearfix
  - if post.enable_comment_vote?
    = render partial: 'posts/comment_actions', locals: {post: post}
    .clearfix
    .new-comment
    .comments-container{class: params[:comment_id].present? ? '' : 'd-none'}
      .comments
        - if params[:comment_id]
          - comment = post.comments.find(params[:comment_id])
        - if comment
          = render partial: 'posts/comments/comment', locals: {expand: true, new: false, comment: comment.parent || comment}

  