.group-post.post{style: "#{SiteSetting['post_color'].value}"}
  .post-actions.pull-right
  .pull-left.user-avathar= render partial: 'users/user_details', locals: {user: post.user}
  .post-actions
    - if post.user == current_user || (current_user.try :admin?)
      = link_to 'delete', post_path(post), remote: true, method: :delete, class: 'delete-post pull-right delete-question'
    - if (current_user.try :admin?)
      - if post.featured?
        = render partial: 'unpin', locals: {post: post}
      - else
        = render partial: 'pin', locals: {post: post}
  .clearfix
  .post-title
    %h1= link_to post.title, post_path(post)
  .post-body
    .clearfix 
    .post-text  
      = auto_link MarkdownRenderer.render(post.text), html: {target: '_blank'}
    = render partial: 'surveys/selection', locals: {post: post}
    .survey-container{data: {id: post.survey_id}}
    = render partial: 'quick_polls/selection', locals: {post: post}
    .quick-poll-container{data: {id: post.quick_poll_id}}
    = render partial: 'groups/selection', locals: {post: post}
    .project-container{data: {id: post.project_id}}
    .clearfix
  = render partial: 'posts/comment_actions', locals: {post: post}
  .clearfix
  .new-comment
  .comments-container{class: params[:comment_id].present? ? '' : 'd-none'}
    .comments
      - if params[:comment_id]
        - comment = post.comments.find(params[:comment_id])
      - if comment
        = render partial: 'posts/comments/comment', locals: {expand: true, new: false, comment: comment.parent || comment}
  
  