.group-post.post{data: {id: post.id}}
  .post-actions.pull-right
  .post-title
    %h2= link_to post.title, "/#{post.id}"
  .post-body
    .clearfix 
    .post-text  
      - display_text = post.text[0..160]
      - if post.text.length > 160
        = "#{display_text}....."
      - else
        = post.text