.group-post.post.small-post
  .small-post-title
    %h1.text-left.text-left.pull-left.name
      - if post.project && post.project.bypass_welcome_page && post.user != current_user
        = link_to "#{post.display_title}", group_path(post.project), {}.merge(action_name == 'boo' ? {} : {rel: 'canonical'})
      - else
        = link_to "#{post.display_title}", "/#{post.id}", {}.merge(action_name == 'boo' ? {} : {rel: 'canonical'})
  .clearfix
  .post-body
    .post-text.text-left
      = raw(HTML_Truncator.truncate(post.text, 10))
