.social-links.pull-right
  - ['facebook_url', 'twitter_url', 'pinterest_url', 'gmail'].each do |name|
    - if post[name].present?
      = link_to post[name] do
        = image_tag(image_path("#{name}.png"), class: 'social-ico') 
  .clearfix
  .edit-social-link-form.d-none
    = simple_form_for(post, url: update_urls_post_path(post), method: :put, html: {remote: true, class: 'edit-social-links'}) do |f|
      - ['facebook_url', 'twitter_url', 'pinterest_url', 'gmail'].each do |name|
        = f.input name
      = f.submit 'submit'
      = link_to 'cancel', '#', class: 'cancel-edit-social-link-form', remote: true
.clearfix
