.questions-container.whitish
  .search-panel.search
    = text_field_tag 'search',nil, placeholder: 'search', data: {url: posts_path(page: 1)},class: 'search-field'
  .clearfix


  .posts-container.posts
    - if @posts.length == 0
      .welcome
        %h1.text-center
          Everything in one hand
        %p.text-left
          This is a local search engin with web pages locally configured. Search nearby services or provide service to nearby people. You can contact to the opposit party directly through online
        .welcome-block.pull-left.col-sm-4.text-center
          = link_to 'Shops', '/posts?query=mannarkkad', class: 'black'
        .welcome-block.pull-left.col-sm-4.text-center
          = link_to 'Traders', '/40', rel: 'canonical', class: 'black'
        .welcome-block.pull-left.col-sm-4.text-center
          = link_to 'Middle men', '/26', rel: 'canonical', class: 'black'
        .clearfix
        .welcome-block.pull-left.col-sm-4.text-center
          = link_to 'Buyers', '/26', rel: 'canonical', class: 'black'
        .welcome-block.pull-left.col-sm-4.text-center
          = link_to 'Manufacturers', '/38', rel: 'canonical', class: 'black'
        .welcome-block.pull-left.col-sm-4.text-center
          = link_to 'Skilled workers', '/50', rel: 'canonical', class: 'black'
        .clearfix
        .welcome-block.pull-left.col-sm-4.text-center
          = link_to 'Portfolios', '/26', rel: 'canonical', class: 'black'
        .welcome-block.pull-left.col-sm-4.text-center
          = link_to "Auto-Taxi", '/53', rel: 'canonical', class: 'black'
        .welcome-block.pull-left.col-sm-4.text-center
          real estate
        .clearfix

    = render partial: 'posts', locals: {posts: @posts}
  - if current_user
    .group-action
      = link_to 'New page', new_post_path, remote: true, class: 'new-group-post'    
  .new-post