.questions-container.whitish
  
  .devine-container
    .devine
      = image_tag('islam')
    .devine
      = image_tag('hindu')
    .devine.devinx
      = image_tag('christian')
  .post-search
    = render partial: 'layouts/search', locals: {id: 'search_3'}

  .posts-container.posts.post-results
    - if @posts.length == 0
      .welcome
        %h1.text-center
          Sorry we could not find that service!
        %p.text-left
          This is a local search engin with web pages locally configured. Search nearby services or provide service to nearby people. You can contact to the other party directly through our tools.
          .clearfix

    = render partial: 'posts', locals: {posts: @posts}    
  .new-post
  - if current_user
    = link_to 'Add service', new_post_path, remote: true, class: 'new-group-post new-bussiness-lik'
  - else
    = link_to 'sign up to Add service', new_user_registration_path(start: true), class: 'new-group-post new-bussiness-lik'
  .clearfix
