= simple_form_for(@post, remote: true, html: { class: 'post-form' }) do |f|
  = f.input :title
  = f.input :text
  .image-upload
    = f.input :image, label: 'Upload image'
  .clearfix
  = f.submit :post, class: 'btn-primary', data: { disable_with: false }
  = link_to 'cancel', '#', class: 'cancel-form', remote: true
.clearfix