.option.black.admin-item{id: "sequence_#{option.id}"}
  .option-handle
  - option_secelted = (@option_count || {})[option.id].to_i
  = "#{option.name} (#{option_secelted})"
  .clearfix
  .option-edit-form-container
  = link_to 'edit', edit_survey_question_option_path(@survey, question, option), remote: true, class: 'edit-option'
  = link_to 'delete', survey_question_option_path(@survey, question, option), method: :delete, remote: true, class: 'delete-option'
