= simple_form_for [@survey, @question], {remote: true, class: 'option-form'} do |f|
  .admin-item
    = f.input :text, label: false
    = f.input :img
    = f.input :required, as: :boolean, label: 'mandatory'
    .clearfix
    = f.submit 'Submit', class: 'btn-primary float-left'
    = link_to 'cancel', '#', class: 'cancel-form btn-primary float-left', remote: true
    .clearfix