- questions = @survey.questions.map{|q| [q.id, q]}.to_h
= simple_form_for([@survey, @survey_response], html:{remote: true, class: 'survey_response_form' }) do |f|
  = f.fields_for :answers do |af|
    .survey-question{id: questions[af.object.question_id].id, class: "#{questions[af.object.question_id].answer_type}-question"}
      = image_tag_with_fallback(af.object.question, :img)
      - if questions[af.object.question_id].answer_type == 'line'
        .survey-question-text
          = questions[af.object.question_id].text
        = af.input :line, label: false
        .clearfix
      - if questions[af.object.question_id].answer_type == 'number'
        .survey-question-text
          = questions[af.object.question_id].text
        = af.input :number, label: false, input_html: {class: 'number-answer'}
        .clearfix
      - elsif questions[af.object.question_id].answer_type == 'file'
        .survey-question-text
          = questions[af.object.question_id].text
        = af.input :file, label: false
      - elsif questions[af.object.question_id].answer_type == 'text'
        .survey-question-text
          = questions[af.object.question_id].text
        .clearfix
        = af.input :text, label: false
      - elsif questions[af.object.question_id].answer_type == 'radio'
        .survey-question-text
          = questions[af.object.question_id].text
        .clearfix
        = af.fields_for :choices do |afc|
          = afc.radio_button :option_id, afc.object.option.id, checked: afc.object.checked, class: 'survey-radio pull-left'
          = af.label afc.object.option.name, class: 'survey-label pull-left col-lg-8 col-md-8 col-xs-8 col-8'
          .clearfix
      - elsif questions[af.object.question_id].answer_type == 'multiline'
        .survey-question-text
          = questions[af.object.question_id].text
        .clearfix
        = af.fields_for :choices do |afc|
          = afc.hidden_field :option_id, value: afc.object.option.id
          = af.label afc.object.option.name, class: 'survey-label survey-question-text pull-left col-lg-6 col-md-6 col-xs-6 col-6'
          = afc.input :line, label: false, class: 'short-input col-sm-5'
          .clearfix
      - elsif questions[af.object.question_id].answer_type == 'checkbox'
        .survey-question-text
          = questions[af.object.question_id].text
        .clearfix
        = af.fields_for :choices do |afc|
          = afc.check_box :option_id, {checked: afc.object.checked, class: 'pull-left survey-checkbox'}, afc.object.option.id, nil
          = af.label afc.object.option.name, class: 'survey-label pull-left col-lg-11 col-md-10 col-xs-11 col-10'
          .clearfix
      = af.hidden_field :question_id, value: questions[af.object.question_id].id
      .error
        = af.object.errors.messages.values.flatten.join(', ')
    .clearfix
  = f.button :submit, @survey.button_name, class: 'survey-button'
  .clearfix