= simple_form_for([@survey, @survey_response], html:{remote: true, class: 'survey_response_form' }) do |f|
  = f.fields_for :answers do |af|
    .question
      = af.object.question.text
      .clearfix
      - if af.object.question.answer_type == 'text'
        = af.input :text
      - elsif af.object.question.answer_type == 'radio'
        = af.fields_for :choices do |afc|
          = afc.radio_button :option_id, afc.object.option.id, checked: false, class: 'survey-radio'
          = af.label afc.object.option.name
          .clearfix
      - elsif af.object.question.answer_type == 'checkbox'
        = af.fields_for :choices do |afc|
          = afc.check_box :option_id, {checked: false}, afc.object.option.id, nil
          = af.label afc.object.option.name
          .clearfix
      = af.hidden_field :question_id, value: af.object.question.id
    .clearfix
  = f.submit 'Submit', class: 'btn-primary'
  .clearfix