.answer{class: css}
  - if a.question.answer_type == 'line' && a.line.present?
    .question-text.pull-left.col-lg-12.col-sm-12.col-xs-12.cpl-12
      = a.question.text
    .clearfix
    .answer-text.col-lg-12.col-sm-12.col-xs-12.col-12
      - if a.line.present?
        = a.line
      - else
        = 'User has skipped this question'
    .clearfix
  - elsif a.question.answer_type == 'number' && a.number.present?
    .question-text.pull-left.col-lg-12.col-sm-12.col-xs-12.cpl-12
      = a.question.text
    .clearfix
    .answer-text.col-lg-12.col-sm-12.col-xs-12.col-12
      - if a.number.present?
        = a.number
      - else
        = 'User has skipped this question'
    .clearfix  
  - elsif a.question.answer_type == 'text' && a.text.present?
    .question-text.pull-left.col-lg-12.col-sm-12.col-xs-12.col-12
      = a.question.text
    .clearfix
    .answer-text.col-lg-12.col-sm-12.col-xs-12.col-12
      - if a.text.present?
        = a.text
      - else
        = 'User has skipped this question'
    .clearfix
  - if a.question.answer_type == 'file' && a.file.attachment.present?
    .question-text.pull-left.col-lg-12.col-sm-12.col-xs-12.cpl-12
      = a.question.text
    .clearfix
    .answer-text.col-lg-12.col-sm-12.col-xs-12.col-12
      - if a.file.attachment.present?
        = link_to 'uploaded file', a.file.attachment.service_url
      - else
        = 'User has skipped this question'
    .clearfix
  - elsif a.question.answer_type == 'radio' && a.choices.present?
    .question-text.pull-left.col-lg-12.col-sm-12.col-xs-12.col-12
      = a.question.text
    .clearfix
    .answer-text.col-lg-12.col-sm-12.col-xs-12.col-12
      .clearfix
      - if a.choices.present?
        = a.choices.first.option.name
      - else
        = 'User has skipped this question'
    .clearfix
  - elsif a.question.answer_type == 'checkbox' && a.choices.present?
    .question-text.pull-left.col-lg-12.col-sm-12.col-xs-12.cpl-12
      = a.question.text
    .clearfix
    - if a.choices.present?
      - a.choices.joins(:option).each do |choice|
        .answer-text.col-lg-12.col-sm-12.col-xs-12.col-12
          = choice.option.name
      .clearfix
    - else
      .answer-text.col-lg-12.col-sm-12.col-xs-12.col-12
        = 'User has skipped this question'
    .clearfix
  - elsif a.question.answer_type == 'multiline' && a.choices.any?{|c| c.line.present?}
    .question-text.pull-left.col-lg-12.col-sm-12.col-xs-12.cpl-12
      = a.question.text
    .clearfix
    - if a.choices.present?
      - a.choices.joins(:option).each do |choice|
        - if choice.line.present?
          .answer-text.col-lg-12.col-sm-12.col-xs-12.col-12
            = choice.option.name
            = " : "
            = choice.line
      .clearfix
    - else
      .answer-text.col-lg-12.col-sm-12.col-xs-12.col-12
        = 'User has skipped this question'
    .clearfix