%h4= @survey.name

.question
  = render partial: 'users/user_details', locals: {user: @response.user}
  .pull-right= @response.created_at.in_time_zone('Mumbai').strftime("%Y %B %d - %I:%M %P")
  - if params[:sender_id]
    .pull-right
      - post = Post.find(params[:sender_id])
      .map-link.post-location{data:{addr: "#{post.lat},#{post.lngt}"}}
        = image_tag('map.png', class: 'map-ico')
        = post.title
  .clearfix
  .answers
    .answer{class: 'highlight'}
      .question-text.pull-left.col-lg-12.col-sm-12.col-xs-12.cpl-12
        phone no
      .clearfix
      .answer-text.question.col-lg-12.col-sm-12.col-xs-12.col-12
        - if @response.user.email.include?('@')
          = @response.user.email
        - else
          = link_to @response.user.email, "tel:#{@response.user.email}"
      .clearfix
    - if @survey.posts.first
      - group = @survey.posts.first.group
    - if group
      - group_response = group.group_responses.where(user_id: @response.user_id).first
    - if group_response
      - group_response.answers.joins(:question).order('questions.sequence ASC').each do |a|
        = render partial: 'response', locals: {a: a, css: 'highlight'}
    - @response.answers.joins(:question).order('questions.sequence ASC').each do |a|
      = render partial: 'response', locals: {a: a, css: ''}
    - if @response.user.lat.present?
      .map-link{data:{addr: "#{@response.user.lat},#{@response.user.lngt}"}}
        = image_tag('map.png', class: 'map-ico')
  - if @survey.user == current_user
    = link_to 'accept', accept_survey_survey_response_path(@survey, @response), remote: true, class: 'handle-response', method: :put
    = link_to 'reject', reject_survey_survey_response_path(@survey, @response), remote: true, class: 'handle-response', method: :put
    = link_to 'pass details', copy_survey_survey_response_path(@survey, @response), class: 'handle-response'
    
- if current_user == @survey.user  
  - if @previous.present?
    = link_to "previous", survey_survey_response_path(@survey, @previous), class: 'response-navigate'
  - if @next.present?
    = link_to "Next", survey_survey_response_path(@survey, @next), class: 'response-navigate'