.question
  = render partial: 'users/user_details', locals: {user: @response.user}
  .clearfix
  .answers
    .answer{class: 'highlight'}
      .question-text.pull-left.col-lg-12.col-sm-12.col-xs-12.cpl-12
        phone no
      .clearfix
      .answer-text.question.col-lg-12.col-sm-12.col-xs-12.col-12
        = @response.user.email
      .clearfix
    - @response.user.group_responses.where(group_id: current_user.owned_groups.map(&:id)).each do |r|
      - r.answers.each do |a|
        = render partial: 'response', locals: {a: a, css: 'highlight'}
    - @response.answers.joins(:question).each do |a|
      = render partial: 'response', locals: {a: a, css: ''}
    - if @response.user.lat.present?
      .map-link{data:{addr: "#{@response.user.lat},#{@response.user.lngt}"}}
        = image_tag('map.png', class: 'map-ico')
  - if @survey.user == current_user
    = link_to 'accept', accept_survey_survey_response_path(@survey, @response), remote: true, class: 'handle-response', method: :put
    = link_to 'reject', reject_survey_survey_response_path(@survey, @response), remote: true, class: 'handle-response', method: :put
- if @previous.present?
  = link_to "previous", survey_survey_response_path(@survey, @previous), class: 'response-navigate'
- if @next.present?
  = link_to "Next", survey_survey_response_path(@survey, @next), class: 'response-navigate'