= simple_form_for @quick_poll, remote: true do |f|
  = f.input :name
  = f.input :description
  = f.input :image, label: 'header image'
  .clearfix
  = f.submit 'Submit', class: 'btn-primary pull-left'
  = link_to 'cancel', '#', class: 'cancel-form pull-left', remote: true
  .clearfix