.my-space.col-lg-4.col-sm-6.col-12.pull-left
  .responses-container.questions-container
    %h3= "My QuickPolls"
    - @quick_polls.each do |quick_poll|
      = render partial: 'quick_poll', locals: {quick_poll: quick_poll, actions: true}
  .new-question
  .questions-actions
    = link_to "New QuickPoll", new_quick_poll_path, class: 'add-question', remote: true
  
  %H3= "Other Quick Polls"
  - @other_quick_polls.each do |quick_poll|
    = render partial: 'quick_poll', locals: {quick_poll: quick_poll, actions: false}

.my-space.col-lg-8.col-sm-6.col-12.pull-left
  %h3
    = "Find QuickPoll"
  .search
    = text_field_tag 'search', nil, placeholder: 'search', data: {url: search_quick_polls_path(page: 1)}
  .clearfix
  .questions
    = render partial: 'quick_polls/quick_polls', locals: {quick_polls: QuickPoll.order('created_at DESC').paginate(page: 1, per_page: 5)}
