!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{ :name=>"viewport", :content=>"width=device-width, initial-scale=1.0"}
    %meta{ :name=>"google-site-verification", :content=>"LbppSvRcx4L5w9qSvaMXR_UEv7SybzS4dVcqtkZFb6I"}
    %meta{ :name=>"Description", :content=> "Starter tutorials for neive programmers"}
    %title
      = @group.try(:name) || 'listen'
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    - if @group.present?
      .banner
        .banner-heading
          = @group.name
          .banner-site-description
            = @group.description
    .page.col-lg-12.col-sm-12.col-12
      - if Rails.env.development? && false
        .acc-switcher
          - User.all.each do |u|
            = link_to u.name, switch_user_path(u), class: 'user-switch pull-left'
          .clearfix
      .nav-bar
        - if current_user
          = link_to "Log Out", destroy_session_path(current_user), method: :delete, class: 'pull-right'
          = link_to current_user.name || current_user.email, connections_users_path, class: 'pull-right my-connections' + (current_user.has_unread_chats ? ' has-new-chats' : '')
          = link_to "dashboard", '/dashboard', class: 'pull-right'
          
        - else
          
          = link_to "Sign in", new_user_session_path, class: 'pull-right'
          
          = link_to "Sign up", new_user_registration_path, class: 'pull-right'
        = link_to 'home', '/', class: 'pull-right'
        .clearfix
      - if current_user.present?  
        .sub-nav-bar
          = link_to 'Posts', posts_path, class: 'sub-nav-bar-item ' + (@flag == 'post' ? 'active-tab' : '')
          = link_to 'Projects', groups_path, class: 'sub-nav-bar-item ' + (@flag == 'project' ? 'active-tab' : '')
          = link_to 'Surveys', surveys_path, class: 'sub-nav-bar-item ' + (@flag == 'survey' ? 'active-tab' : '')
          = link_to 'quick polls', quick_polls_path, class: 'sub-nav-bar-item ' + (@flag == 'quick_poll' ? 'active-tab' : '')
          .clearfix
      .common-bg{class: "#{controller_name}-#{action_name}"}
        - if flash[:notice].present?
          .flash
            = flash[:notice]
        = yield
        .pull-right
          Powered by We Do Good

