!!!
%html
  %head
    - if action_name == 'index'
      %meta{name: "robots", content: "noindex"}
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{ :name=>"viewport", :content=>"width=device-width, initial-scale=1.0"}
    %link{rel: 'icon', href: asset_path('icon')}
    - if false
      %meta{ :name=>"Description", :content=> meta_description}
    %meta{ :name=>"Description", :content => 'search available servives in palakkad or list services that you provide'}
    
    %title
      = @title || @group.try(:banner_title) || @post.try(:title) || 'search palakkad'
    %meta{ :name=>"google-site-verification", :content=> "aTgG8DN02IEd5qlsvX5mnWq3sHtS11bEZ5Ipb5zkIXk" }
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .location.d-none{data:{lat: session[:lat] || current_user.try(:lat)}}
    = audio_tag 'arpeggio.mp3', class: 'response-notif'
    .current-user-data.d-none{data:{signed_in: current_user.present?.to_s}}
    .current-user-location-data.d-none{data:{lat: current_user.present? ? current_user.lat.present?.to_s : 'true'}}
    - group = @group || @post.try(:project)
    - if ['groupsshow', 'postsshow'].include?(controller_name + action_name)
      - if group.present? && group.background.attachment.present?
        .banner{style: group.blur_banner? ? "filter: blur(3px)" : ''}
          = image_tag group.background
        - if group.banner_title.present? || group.banner_description.present?
          .banner-overlay
            .header-text-container
              .banner-heading
                - if group.banner_title.present?
                  .white.text-center= group.banner_title
                - if group.banner_description.present?
                  .banner-site-description.white
                    .white= raw group.banner_description
    .page.col-lg-12.col-sm-12.col-12
      .nav-bar.signed{class: current_user ? '' : 'd-none'}
        .dropdown
          %a.pull-right.btn.btn-secondary.dropdown-toggle{data: {toggle: 'dropdown'}}
            account
          .dropdown-menu
            = link_to 'my sites', my_groups_groups_path, class: "dropdown-item account-action #{current_user && current_user.group_count == 0 ? 'd-none' : ''}", rel: :nofollow
            - if current_user.try(:welcome_posts).to_a.count !=0
              = link_to 'my services', my_posts_posts_path, class: "dropdown-item account-action  #{current_user && current_user.posts.count == 0 ? 'd-none' : ''}", rel: :nofollow
            = link_to "Edit Profile", edit_registration_path(:user), class: 'dropdown-item account-action', rel: 'nofollow'
            = link_to "Log Out", destroy_session_path(User.new), method: :delete, class: 'dropdown-item account-action', rel: 'nofollow'
                    
        
        
        = link_to 'home', '/', class: 'pull-right', rel: :nofollow
        .nav-search
          = render partial: 'layouts/search', locals:{id: 'search_1'}
        .clearfix
      .nav-bar.unsigned{class: current_user ? 'd-none' : ''}
        .nav-search
          = render partial: 'layouts/search', locals:{id: 'search_2'}
        = link_to "Sign in", new_user_session_path, class: 'pull-right', rel: :nofollow

        = link_to 'home', '/', class: 'pull-right', rel: :nofollow
        .clearfix
      - if current_user.present? && params[:preview].blank?
        .sub-nav-bar{class: (current_user && current_user.posts.present? ? '' : 'd-none')}
          = link_to 'Services', my_posts_posts_path, class: 'sub-nav-bar-item ' + (@flag == 'post' ? 'active-tab' : '')
          = link_to 'Sites', groups_path, class: 'sub-nav-bar-item ' + (@flag == 'project' ? 'active-tab' : '')
          = link_to 'Order Form', surveys_path, class: 'sub-nav-bar-item ' + (@flag == 'survey' ? 'active-tab' : '')
          = link_to 'Polls', quick_polls_path, class: 'sub-nav-bar-item ' + (@flag == 'quick_poll' ? 'active-tab' : '')
          - if current_user.admin?
            = link_to 'Platform', users_platform_path, class: 'sub-nav-bar-item ' + (@flag == 'platform' ? 'active-tab' : '')
            = link_to 'photos', photos_path, class: 'sub-nav-bar-item ' + (@flag == 'photos' ? 'active-tab' : '')

          - if @post.present?
            = link_to 'preview', post_path(@post, preview: true), target: '_blank', class: 'sub-nav-bar-item'
          - elsif @group.present?
            = link_to 'preview', group_path(@group, preview: true), target: '_blank', class: 'sub-nav-bar-item'

              
          .clearfix
      .common-bg{class: "#{controller_name}-#{action_name}"}
        - if flash[:notice].present?
          .flash
            = flash[:notice]
        - if current_user.present?
          .model-response-viewer
            - V2::Notification.where(target_id: current_user.id).each do |notif|
              = render partial: 'surveys/survey_responses/message', locals: {notif: notif}
        = yield
    - if Rails.env.development? && !params[:preview]
      .acc-switcher
        - User.all.sort_by(&:name).each do |u|
          = link_to u.name, switch_user_path(u), class: "user-switch pull-left #{(current_user== u ? 'white' : '')}"
        .clearfix
